*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #121F3D;
    color: #8DA2C0;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    width: 100%;
    margin: auto;
    position: relative;
    text-align: center;
    height: 60px;
    background-color: #121F3D;
    display: grid;
    place-content: center;
    box-shadow: 0px 5px rgba(0,0,0,0.3);
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
    padding: 13px;
}
.link{
    text-decoration: none;
    line-height: 30px;
    padding: 15px;
    color: #EFF3F8;
    font-weight: bold;
    font-size: 1.6rem;
    font-family: poppins;
}
.link:hover{
    background-color: #2E4053;
}
.home{
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 30px;
    /* border: 1px solid black; */
}
.home h1{
    color: #EFF3F8;
    padding-bottom: 10px;
}
.box{
    width: 90%;
    border: 1px solid #95A5A6;
    margin: 30px auto;
    border-radius: 20px;
    display: flex;
}
.etiqueta{
    width: 30%;
    margin: 20px;
    padding: 20px;
}
strong{
    color: #EFF3F8;
}
.contenedor-card-home{
    width: 90%;
    display: flex;
    margin: auto;
}
.card-home{
    width: 30%;
    margin: 20px;
    /* border: 1px solid black; */
    padding: 10px;
}
.card-home img{
    width: 100%;
    height: 150px;
}
.titulo{
    margin: 30px;
}
.container-cursos{
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    margin: 20px auto;
}
.card-cursos{
    display: flex;
    width: 45%;
    height: auto;
    background: #40587C;
    margin: 10px;
    border-radius: 10px;
}
.header-card{
    border-right: 1px solid #91afdb;
}
.header-card, .descripcion-card{
    padding: 15px;
    text-align: center;
    color: white;
}
.header-card img{
    width: 150px;
}
.header-card h1{
    margin: 10px auto;
}
.header-card h5{
    color: #1991FF;
}
.descripcion-card p{
    margin: 10px auto;
}
.descripcion-card h4{
    margin: 10px auto;
    color: #1991FF;
}
